{
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-param-reassign": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_"
      }
    ]
  }
}
